@import '../../scss/mixins/_input.scss';
.dropdown{
    &_big{
        width: 320px;
        user-select: none
    }

    &_medium{
        width: 265px;
        user-select: none
    }

    &_accomodation{
        width: 265px;
        &-big{
            width: 320px;
            user-select: none
        }

        &-medium{
            width: 265px;
            user-select: none
        }
    }
    &__input{
        height: 41px;
        border-radius:3px 3px 0 0;
        border: 1px solid $dark-shade-50;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 8px;
        width: inherit;

        
    }
    &__input-text{
        cursor:default;
        padding-left: 13px;
    }
    &__expand::after{
        font-family: 'Material Icons';
        content: "expand_more";
        font-size: 24px;
        cursor: pointer;
        display: block;

    }

    &__option{
        text-transform: uppercase;
        font-weight: bold;
        font-size: 12px;
        margin-bottom: 22px;
    }

    &__select{
        height: 0;
        visibility: hidden;
        border: 1px solid $dark-shade-50;
        width: inherit;
        border-radius: 0 0 3px 3px;
        transform: translateY(-120px);
        transition: transform 0.2s ease-out, opacity 0.15s ease-in, visibility 0s linear 0.2s, height 0.2s ease-out ;
        opacity: 0;
        &_expanded{
            height: 115px;
            border: 1px solid $dark-shade-50;
            width: inherit;
            border-radius: 0 0 3px 3px;
            transform: translateY(0px);
            opacity: 1;
            transition: transform 0.2s ease-out, opacity 0.15s ease-in, height 0.2s ease-out ;
        }

        &_big{
            height: 0;
            visibility: hidden;
            border: 1px solid $dark-shade-50;
            width: inherit;
            border-radius: 0 0 3px 3px;
            transform: translateY(-120px);
            transition: transform 0.2s ease-out, opacity 0.15s ease-in, visibility 0s linear 0.2s, height 0.2s ease-out ;
            opacity: 0;
        }

        &_big-expanded{
            height: 156px;
            border: 1px solid $dark-shade-50;
            width: inherit;
            border-radius: 0 0 3px 3px;
            transform: translateY(0px);
            opacity: 1;
            transition: transform 0.2s ease-out, opacity 0.15s ease-in, height 0.2s ease-out ;
        }
    }

    &__accept{
        text-align: end;
        padding-right: 6px;
        margin-bottom: 14px;
        margin-top: 16px;
        color: $purple;
    }

    &__ui-container{
        margin-bottom: 5px;
        &_acc{
            margin-bottom: 0px;
        }

        &_big{
            margin-bottom: 4px;
        }
    }


}