include ../dropdown-list/dropdown-list.pug
mixin dropdown(type, arrText, inputText, dropdownParams, size, isExpanded)
    if type == "accomodation"
        if size == "big"
            .dropdown_accomodation-big
                .dropdown__ui-container_acc
                    .dropdown__ui
                        +ui-text(arrText)
                .dropdown__container
                    .dropdown__input
                        p.dropdown__input-text(value="test") #{inputText}
                        .dropdown__expand
                    +dropdown-list(dropdownParams, size, isExpanded, type)
        else
            .dropdown_accomodation-medium
                .dropdown__ui-container_acc
                    .dropdown__ui
                        +ui-text(arrText)
                .dropdown__container
                    .dropdown__input
                        p.dropdown__input-text(value="test") #{inputText}
                        .dropdown__expand
                    +dropdown-list(dropdownParams, size, isExpanded, type)
    else
        if size == "big"
            .dropdown_big
                .dropdown__ui-container
                    .dropdown__ui
                        +ui-text(arrText)
                .dropdown__container
                    .dropdown__input
                        p.dropdown__input-text(value="test") #{inputText}
                        .dropdown__expand
                    +dropdown-list(dropdownParams, size, isExpanded, type)
                        
        else
            .dropdown_medium
                .dropdown__ui-container
                    .dropdown__ui
                        +ui-text(arrText)
                .dropdown__container
                    .dropdown__input
                        p.dropdown__input-text(value="test") #{inputText}
                        .dropdown__expand
                    +dropdown-list(dropdownParams, size, isExpanded, type)
                        h3.dropdown__accept Применить
        