@import '../../scss/mixins/_input.scss';
.dropdown{
    width: 320px;
    margin-bottom: 6px;

    &_accomodation{
        width: 264px;
    }
    &__input{
        @include input;
        border-radius:3px 3px 0 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 9px;
        width: inherit;
    }

    &__expand::after{
        font-family: 'Material Icons';
        content: "expand_more";
        font-size: 24px;
        cursor: pointer;

    }

    &__option{
        text-transform: uppercase;
        font-weight: bold;
        font-size: 12px;
        margin-bottom: 22px;
    }

    &__select{
        visibility: hidden;
        border: 1px solid $dark-shade-50;
        width: inherit;
        border-radius: 0 0 3px 3px;
        transition: all 0.5s linear ;

        &_expanded{
            visibility: visible;
            border: 1px solid $dark-shade-50;
            width: inherit;
            border-radius: 0 0 3px 3px;
            transition: all 0.5s linear ;
        }
    }

    &__accept{
        text-align: end;
        padding-right: 6px;
        margin-bottom: 14px;
        margin-top: 16px;
        color: $purple;
    }

}