include ../dropdown-list/dropdown-list.pug
mixin dropdown(type, arrText, inputText, dropdownParams)
    if type == "accomodation"
        .dropdown_accomodation
            +ui-text(arrText)
            .dropdown__container
                .dropdown__input
                    p.dropdown__input-text(value="test") #{inputText}
                    .dropdown__expand
                .dropdown__select
                    +dropdown-list(dropdownParams)
