.dropdown-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 13px;
    padding-right: 6px;
    padding-bottom: 7px;
    &__options{
        display: flex;
        align-items: center;

    }

    &__minus{
        width: 30px;
        height:30px;
        cursor: pointer;
    }
    &__plus{
        width: 30px;
        height:30px;
        cursor: pointer;
        
    }

    &__quantity{
        margin-left: 12px;
        margin-right: 12px;
    }
}   

.dropdown-list:first-child{
    padding-top: 4px;
}