extends ../../layouts/ui-kit-layout.pug
block scripts 
    link(href=require('./ui-kit.scss') rel='stylesheet')
block content
    .router
        a(class="router__link router_first" href="./colorsAndType.html") Colors and Type
        a(class="router__link" href="./cards.html") Cards
        a(class="router__link" href="./headersAndFooters.html") Headers and Footers
        a(class="router__link" href="./formElements.html") Form Elements
