.router{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    &__link{
        margin-top: 20px;
        font-size: 40px;
    }

    &_first{
        margin-top: 200px;
    }
}