.radiobuttons{
    @include form(221px);
    &__ui{

    }

    &__wrapper{

    }

    &__form{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    &__container{
        margin-right: 20px;
    }

    &__radiobutton{
        appearance: none;
        &::before{
            display: block;
            content: "";
            width: 12px;
            height: 12px;
            appearance: none;
            transform: translateY(5px);
            border: 3px solid white;
            border-radius: 45px;
            /*background-image: linear-gradient(180deg, #bc9cff, #8ba4f9);*/
            background-clip: border-box;
            outline: 1px solid #BC9CFF;

        }

        &:checked::before{
            background-image: linear-gradient(180deg, #bc9cff, #8ba4f9);
        }
    }


    &__radio-text{
        font-family: 'Montserrat';
        font-size: 14px;
        color: $dark-shade-75;
    }

    &__radiobutton:checked + &__radio-text{
        font-family: 'Montserrat';
        font-size: 14px;
        color: $dark-shade-100;
    }

    &__radiobutton:checked + &__radiobutton::before{
        background-image: linear-gradient(180deg, #4f0ddd, #8ba4f9);
    }
}
