mixin footer-mobile 
    .footer-mobile
        .footer-mobile__container
            .footer-mobile__logo-container
                +logo
            .footer-mobile__text-container
                p Copyright © 2018 Toxin отель. Все права защищены.
            .footer-mobile__socials-container
                +socials