@import '../../scss/mixins/_input.scss';
@import '../../scss/mixins/_form.scss';
@import '../../scss/mixins/_date-dropdown.scss';
@import '../../scss/mixins/_date-dropdown-border.scss';
.date-dropdown{
    width: $form-b;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    &_s{
        @include form($form-s);
        margin-bottom: 0px;
    }
    
    &_m{
        @include form($form-m);
        margin-bottom: 0px;
    }

    &__form{
        display: flex;
        justify-content: space-between;
        align-items: center;

        &_s{
            @include form($form-s, $dark-shade-50);
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 0px;
            
        }

        &_m{
            @include form($form-m, $dark-shade-50);
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 0px;
            
        }
    }

    &__input_s{
        @include input($form-s, $dark-shade-50);
        display:flex;
        align-items: center;
    }

    &__input_m{
        @include input($form-m, $dark-shade-50);
        display:flex;
        align-items: center;
    }

    &__expand::after{
        font-family: 'Material Icons';
        content: "expand_more";
        font-size: 24px;
        cursor: pointer;
        padding-right: 9px;
        display:flex;
        align-items: center;
    }

    &__ui{
        margin-bottom:5px;
    }
}

.factual-dd{
    height: 369px;
    width: 320px;
    border: 1px solid $dark-shade-50;
    border-radius: 0 0 3px 3px;
    transform: translateY(5px);
    transition: transform 0.2s ease-out, opacity 0.15s ease-in, visibility 0s linear , height 0.2s ease-out ;
    visibility: visible;
    margin-bottom: 20px;
    opacity: 1;

    &_extended{
        height: 409px;
        width: 320px;
        border: 1px solid $dark-shade-50;
        border-radius: 0 0 3px 3px;
        transform: translateY(5px);
        transition: transform 0.2s ease-out, opacity 0.15s ease-in, visibility 0s linear , height 0.2s ease-out ;
        visibility: visible;
        margin-bottom: 20px;
        opacity: 1;

    }

    &_closed{
        border: 1px solid $dark-shade-50;
        border-radius: 0 0 3px 3px;
        transform: translateY(-369px);
        transition: transform 0.2s ease-out, opacity 0.15s ease-in, visibility 0s linear 0.2s, height 0.2s ease-out ;
        visibility: hidden;
        opacity: 0;
        height: 0px;
    }

    &__container{
        display: flex;
        justify-content:space-between;
        flex-direction: column;
        height: -webkit-fill-available;
        width: 280px;
        margin: 20px; 
    }

    &__top{
        font-size: 19px;
        height: auto;
        width: 279px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
       }

     &__arrow-left::after{
            color: $purple;
            display: flex;
            align-items: center;
            width: auto;
            font-family: 'Material Icons';
            content: "arrow_back";
            font-size: 24px;
            cursor: pointer;
        }

        &__day-value_active{
            @include date-dropdown();
            cursor: pointer;
        }

        &__day-value{
            display: none;
        }

        &__month-value_active{
            @include date-dropdown();
            cursor: pointer;
        }

        &__month-value{
            display: none;
        }

        &__year-value_active{
            @include date-dropdown();
        }

        &__year-value{
            display: none;
        }

        &__arrow-right::after{
            color: $purple;
            display: flex;
            align-items: center;
            width: auto;
            font-family: 'Material Icons';
            content: "arrow_forward";
            font-size: 24px;
            cursor: pointer;
        }
            
    &__middle{
        height: 240px;
        width: 279px;
    }

    &__bottom{
        height: 15px;
        width: 279px;
    }

    &__buttons{
        display: flex;
        justify-content: space-between;
    }

    &__clear{
        color: $purple;
        font-size: 12px;
        font-weight: 700;
    }

    &__clear_hidden{
        display: none;
    }

    &__accept{
        color: $purple;
        font-size: 12px;
        font-weight: 700;
    }

    &__accept_hidden{
        display: none;
    }

    &__days_active{
        display: flex;
        flex-wrap: wrap;
    }

    &__days{
        display: none;
    }

    &__weekdays_active{
        font-family: 'Montserrat';
        font-weight: bold;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 40px;
        width: 279.13px;
        color: $purple;
        margin-top: 30px;
    }

    &__weekdays{
        display: none;
    }

    &__cell{
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 12px;
        color: $dark-shade-100;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 39.7px;
        border-radius: 100px;
        cursor: pointer;
        &_highlighted{
           // background-color: $purple;
           background: -webkit-gradient(linear, left top, left bottom, from(rgba(188, 156, 255, .25)), to(rgba(139, 164, 249, .25)));
            border-radius: 0;
        }
    }

    &__chosen{
        background: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9));

        &:hover{
            background: linear-gradient(180deg, rgba(188, 156, 255, .25), rgba(139, 164, 249, .25));
        }
        &_first{
            background: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9));
            color: azure;
        }

        &_first::after{
            @include date-dropdown-border();
            border-radius: 50% 0 0 50%;
        }

        &_last{
            background: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9));
            color: azure;
        }

        &_last::after{
            @include date-dropdown-border();
            border-radius: 0 50% 50% 0;
        }

        &_first-reverse{
            background: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9));
            color: azure;
        }

        &_first-reverse::after{
            @include date-dropdown-border();
            border-radius: 0 50% 50% 0;
        }

        &_last-reverse{
            background: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9));
            color: azure;
        }

        &_last-reverse::after{
            @include date-dropdown-border();
            border-radius: 50% 0 0 50%;
        }
        
}

    &__chosen-last::after{
        content: "";
        position: absolute;
        height: inherit;
        width: inherit;
        border-radius: 0 50% 50% 0;
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(188, 156, 255, .25)), to(rgba(139, 164, 249, .25)));
    }

    &__chosen-first{
        background: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9));
        color: white;
        
    }

    &__chosen-last{
        background: -webkit-gradient(linear, left top, left bottom, from(#bc9cff), to(#8ba4f9));
        color: white
    }

        
    

    &__cell:hover{
        background-color: $dark-shade-25;
    }
    &__months{
        display: none;
    }

    &__months_active{
        height: inherit;
        width: inherit;
        display: flex;
        flex-wrap: wrap;
    }

    &__month{
        @include date-dropdown(12px, 400, $dark-shade-75);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 25%;
        width: 33%;
        border-radius: 100px;

    }

    &__month:hover{
        background-color: $dark-shade-25;
    }

    &__month_selected{
        background-color: $purple;
    }

    &__years{
        display: none;
    }

    &__years_active{
        height: inherit;
        width: inherit;
        display: flex;
        flex-wrap: wrap;
    }

    &__year{
        @include date-dropdown(12px, 400, $dark-shade-75);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 25%;
        width: 33%;
        border-radius: 100px;
    }

    &__year:hover{
        background-color: $dark-shade-25;
    }

    &__year_selected{
        background-color: $purple;
    }

    
}