@mixin input($size, $color){
    box-sizing: border-box;
    padding-left: 14px;
    width: $size;
    height: 43px;
    font-family: Montserrat;
    font-size: 14px;
    outline:0px;
    color: $color;
}