.like{
    width: 40px;
    &__ui{
        margin-bottom: 16px;
    }

    &__container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-left: 1px;
    }

    &__button{
        width: 38px;
        height: 18px;
        outline: 1px solid;
        border-radius: 45px;
        cursor: pointer;
        &_off{
            outline-color: $dark-shade-50;

        }

        &_on{
            outline-color: $purple;
        }
    }

    &__button-count{
        display: inline-block;
        font-family: "Montserrat";
        font-weight: 400;
        font-size: 10px;
        padding-left: 5px;
        user-select: none;
        transform: translateY(-2px) translateX(-1px);
        &_off{
            color: $dark-shade-75;
            &::before{
                user-select: none;
                content: "";
                display: inline-block;
                background-image: url(../../svg/heart-off.svg);
                height: 10px;
                width: 10px;
                background-repeat: no-repeat;
                padding-right: 7px;
                transform: translateY(3px);
            }
        }

        &_on{
            color: $purple;
            &::before{
                user-select: none;
                content: "";
                display: inline-block;
                background-image: url(../../svg/heart-on.svg);
                height: 10px;
                width: 10px;
                background-repeat: no-repeat;
                padding-right: 7px;
                transform: translateY(3px);
            }
        }
    }
}