mixin like(state, amount, uiText = "")
    .like
        if (uiText != "")
            .like__ui
                +ui-text(uiText)
        .like__container
            if (state == "on")
                div(class="like__button like__button_on" isOn = "true")
                    span(class="like__button-count like__button-count_on") #{amount}
            if (state == "off")
                div(class="like__button like__button_off" isOn = "false")
                    span(class="like__button-count like__button-count_off") #{amount}
