@import '../../scss/mixins/form' ;
.form-elements{
    &__container{
        display: flex;
        width: 1160px;
    }

    &__bottom{
        
    }

    &__top{
        
    }

    &__column{
        &_wide{
            display: flex;
        }
    }

    
    &__like-component{
        @include form(150px);
    }
    
    &__like-container{
        margin-right: 10px;
    }
    
    &__like{
        display: flex;
        margin-top: 16px;
    }


    

}

.pro{
    display: none;
    &_on{
        display: block;
    }
}

.buttons-ui{
    width: 320px;
    &__container{
        margin-right: 20px;
        margin-bottom: 30px;
    }

    &__small{
        display: flex;
        flex-wrap: wrap;
        width: 240px;
    }

    &__text-container{
        margin-bottom: 15px;
    }
}