extends ../../layouts/ui-kit-layout.pug
include ../../components/text-field/text-field.pug
include ../../components/ui-text/ui-text.pug
include ../../components/dropdown/dropdown.pug
include ../../components/filter-date-dropdown/filter-date-dropdown.pug
include ../../components/checkbox/checkbox.pug
include ../../components/checkbox-dropdown/checkbox-dropdown.pug
include ../../components/check-buttons/check-buttons.pug
include ../../components/masked-text-field/masked-text-field.pug
include ../../components/subscription-text-field/subscription-text-field.pug
include ../../components/date-dropdown/date-dropdown.pug
include ../../components/perks-container/perks-container.pug
include ../../components/radio-buttons/radiobuttons.pug
include ../../components/toggle/toggle.pug
include ../../components/like/like.pug
include ../../components/rate-button/rate-button.pug
include ../../components/rich-checkbox/rich-checkbox.pug
include ../../components/commentary/commentary.pug
include ../../components/range/range.pug
include ../../components/buttons/buttons.pug
include ../../components/pagination/pagination.pug
include ../../components/bullet-list/bullet-list.pug
include ../../components/ui-container/ui-container.pug
include ../../components/ui-logo/ui-logo.pug
include ../../components/suite/suite.pug

block scripts
    link(href=require('./form-elements.scss') rel='stylesheet')
block values
    script 
        - var textFieldArr1 = ["ui","text field","DEFAULT"]
        - var textFieldArr2 = ["ui","text field", "HOVER / FOCUS"]
        - var textFieldArr3 = ["ui","masked text field"]
        - var dateDropdown1 = ["ui","date dropdown"]
        - var dateDropdown2 = ["ui","date dropdown"]
        - var type1 = "accomodation"
        - var type2 = null
        - var inputText1 = "Выберите удобства"
        - var inputText2 = "Сколько гостей"
        - var dropdownArr1 = ["ui","dropdown", "DEFAULT"]
        - var dropdownArr2 = ["ui","dropdown", ""]
        - var dropdownArr3 = ["ui","dropdown", "EXPANDED"]
        - var dropdownParams1 = ["Спальни","Кровати","Ванные комнаты"]
        - var dropdownParams2 = ["Взрослые", "Дети", "Младенцы"]
        - var subscriptionText = ["ui","subscription text field"]
        - var checkboxParams = ["ui","expandable checkbox list"]
        - var checkboxArr = ["Завтрак", "Письменный стол", "Стул для кормления", "Кроватка","Телевизор","Шампунь"]
        - var richCheckboxArr = ["Ширина коридоров в номере не менее 91 см.", "На 1 этаже вас встретит специалист  и проводит до номера."]
        - var richCheckboxHeadingArr = ["Широкий коридор", "Помошник для инвалидов"]
        - var checkButtonsParams = ["ui","checkbox buttons"]
        - var checkButtonsArr = ["Можно курить","Можно с питомцами","Можно пригласить гостей (до 10 человек)"]
        - var perksArr1 = ["../../svg/perk_comfort.svg", "Комфорт", "Шумопоглощающие стены"]
        - var perksArr2 = ["../../svg/perk_conveniency.svg", "Удобство", "Окно в каждой из спален"]
        - var checkedArrFormpage = ["","checked","checked","checked","",""]
        - var checkedArrButtons = ["", "checked"," checked"]
        - var checkedArrRich = ["",""]
        - var radiobuttonParams = ["ui","radio buttons"]
        - var toggleParams1 = ["ui","toggle"]
        - var toggleParams2 = [""]
        - var likeParams1 = ["ui", "like button"]
        - var likeParams2 = [""]
        - var rateParams = ["ui", "rate button"]
        - var richParams = ["ui","rich checkbox buttons"]
        - var starAmount1 = 4;
        - var starAmount2 = 5;
        - var commentaryParams =[""]
        - var rangeParams = ["ui","range slider", "5 000\u20bd - 10 000\u20bd"]
        - var paginationParams = ["ui","pagination"]
        - var bulletParams = ["ui","bullet list"]
        - var bulletText = ["Нельзя с питомцами","Без вечеринок и мероприятий","Время прибытия — после 13:00, а выезд до 12:00"]
block content
    .form-elements
        .form-elements__main-container
            .form-elements__logo-container
                +ui-logo()
            .form-elements__container
                .form-elements__column
                    div(class="ui-container ui-container_small")
                        +text-field(["ui","text field","DEFAULT"], "Email")
                    div(class="ui-container ui-container_dd")
                        +text-field(["ui","text field", "HOVER / FOCUS"], "This is pretty awesome")
                    div(class="ui-container ui-container_masked")
                        +dropdown(type2, dropdownArr2, inputText2, dropdownParams2, "big", "false", "false")
                    div(class="ui-container ui-container_datedd")
                        +masked-text-field("big", textFieldArr3, "ДД.ММ.ГГГГ")
                    div(class="ui-container ui-container_medium")
                        +date-dropdown("small", dateDropdown1, dateDropdown2, "ДД.ММ.ГГГГ", "19.08.2019", "false")
                    div(class="ui-container ui-container_filter")
                        +filter-date-dropdown(["ui","filter date dropdown"])
                    div(class="ui-container ui-container_subs")
                        +subscription-text-field("medium", subscriptionText)
                    div(class="ui-container ui-container_ddclosed")
                        +dropdown("accomodation", dropdownArr1, inputText1, dropdownParams1, "medium", "true", "true")
                    div(class="ui-container ui-container_ddexp")
                        +dropdown("accomodation", dropdownArr3, inputText1, dropdownParams1, "medium", "false", "true")
                    div(class="ui-container ui-container_ddcheck-closed")
                        +checkbox-dropdown("medium", checkboxParams, checkboxArr, false, checkedArrFormpage, "14")
                    div(class="ui-container ui-container_big")
                        +checkbox-dropdown("medium", checkboxParams, checkboxArr, true, checkedArrFormpage, "14")
                    div(class="ui-container")
                        +perks-container(perksArr1, perksArr2)
                .form-elements__column_wide
                    .form-elements__top
                        .form-elements__left
                            div(class="ui-container ui-container_checkbox-buttons")
                                +cbuttons(checkButtonsParams, checkButtonsArr, checkedArrButtons, "14")
                            div(class="ui-container ui-container_radio")
                                +radiobuttons(radiobuttonParams)
                            div(class="ui-container ui-container_toggle")
                                +toggle(toggleParams1, true)
                                +toggle(toggleParams2, false)
                            div(class="ui-container ui-container_like")
                                .form-elements__like-component
                                    +ui-text(likeParams1)
                                    .form-elements__like
                                        .form-elements__like-container
                                            +like("off", 2)
                                        .form-elements__like-container
                                            +like("on", 12)
                            div(class="ui-container ui-container_rate")
                                +rate-button(rateParams, true, starAmount1)
                            div(class="ui-container ui-container_blank")
                                +dropdown(null, dropdownArr2, inputText2, dropdownParams2, "big", "true")
                            div(class="ui-container ui-container_medium")
                                +rich-checkbox(richParams ,richCheckboxArr,richCheckboxHeadingArr,checkedArrRich, "12")
                        .form-elements__right
                            div(class="ui-container ui-container_range")
                                +range(rangeParams, true)
                            div(class="ui-container ui-container_buttons")
                                .buttons-ui
                                    .buttons-ui__text-container 
                                        .buttons-ui__text
                                            +ui-text(["ui", "buttons"])
                                    .buttons-ui__small
                                        .buttons-ui__container
                                            +buttons("default", "small")
                                        .buttons-ui__container
                                            +buttons("default-greyed", "small")
                                        .buttons-ui__container
                                            +buttons("hollow", "small")
                                        .buttons-ui__container
                                            +buttons("hollow-greyed", "small")
                                        .buttons-ui__container
                                            +buttons("empty", "small")
                                        div(class="buttons-ui__container buttons-ui__container_hollow")
                                            +buttons("empty-greyed", "small")
                                    .buttons-ui__big
                                        +buttons("default","big", "перейти к оплате")
                            div(class="ui-container ui-container_page")
                                +pagination(paginationParams)
                            div(class="ui-container ui-container_blank")
                                +dropdown(null, dropdownArr2, inputText2, dropdownParams2, "big", "true", "true")
                            div(class="ui-container ui-container_medium")
                                +bullet-list(bulletParams, bulletText)
                    .form-elements__bottom
                        +commentary(commentaryParams, "Мурад Сарафанов","5 дней назад","Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.")
block js 
    script
        include ../../components/dropdown/dropdown.js
        include ../../components/date-dropdown/date-dropdown.js
        include ../../components/checkbox/checkbox.js
        include ../../components/toggle/toggle.js
        include ../../components/like/like.js
        include ../../components/rate-button/rate-button.js
        include ../../components/range/range.js
        include ../../components/pagination/pagination.js

