mixin rich-checkbox(uiText, checkboxText, checkboxHeading, checkedArr, font) 
    .rich-checkbox
        .rich-checkbox__ui
            +ui-text(uiText)
        .rich-checkbox__container
            +checkbox(checkboxText, checkedArr, checkboxHeading, font)