.typo-container{
    display: flex;

    &__heading{
        color: $dark-shade-50;
        font-weight: 400;
        text-align: right;
    }

    &__heading-container{
        width: 35px;
    }

    &__text-container{
        width: 420px;
    }

    &__text{
        margin-left: 32px;
    }

    &_first{
        margin-bottom: 51px;
    }

    &_second{
        margin-bottom: 53px;
    }

    &_third{
        margin-bottom: 47px;
    }

    &_last{
        width: 370px;
    }
}