.logo{ 
    &__image {
        background-image: url(Logo.svg);
        height: 40px;
        width: 106px;
    }

    &__image_header{
        margin-top: 15px;
        margin-bottom: 15px;
    }
       
    }