mixin logo(type)
    a(href="path-to-landing" class="logo")
        if (type == "header")
            img(src=require("Logo.svg") alt="" class="logo__image logo__image_header")
        else 
            img(src=require("Logo.svg") alt="" class="logo__image")
    
            