mixin subscription-text-field(size, type)
    .substext
        +ui-text(type)
        form(class="substext__form" action="#" method="get")
            input(class="substext__input" type="text" value="Email")
            .substext__send
