@import '../../scss/mixins/_input.scss';
@import '../../scss/mixins/_form.scss';
.substext{
    &__form{
        @include form($form-m, $dark-shade-50);
        margin: 0px;
        display:flex;
        box-sizing: border-box;
    }
    &__input{
        @include input($form-m, $dark-shade-50);
        height: 42px;
    }
    &__send::after{
        display: flex;
        align-items: center;
        font-family: 'Material Icons';
        content: "arrow_forward";
        font-size: 24px;
        cursor: pointer;
        margin-right: 10px;
        height: 42px;
        color: $purple;
    }

    &__ui{
        margin-bottom: 5px;
    }


}