mixin colors(color, text, hashname) 
    .color-wrapper
        div(class="color-container" style="background-color:" + color)
        .label-container
            
            h2(class="label-container__top-text")
                =text 

            h2(class="label-container__bottom-text")
                =hashname
                