link(href=require('./colors.scss') rel='stylesheet')
mixin colors 
    .wrapper
        .color-container
        .label-container
            .label-container__top-text

            .label-container__bottom-text
                