mixin log-in()
    .log-in
        .log-in__inner
            .log-in__header-container
                h1.log-in__header Войти
            .log-in__credentials-container
                .log-in__email-container
                    +text-field([""], "Email")
                .log-in__password-container
                    +text-field([""], "Пароль")
            .log-in__button-container 
                .log-in__button 
                    +buttons("default","big", "войти")
            .log-in__extras-container
                .log-in__text-container
                    p.log-in__text Нет аккаунта на Toxin?
                .log-in__redirect-container
                    +buttons("hollow","small", "создать")