include ../checkbox/checkbox.pug
mixin checkbox-dropdown(size, type, arr, expanded, checkedArr)
    .checkbox-dropdown
        .checkbox-dropdown__container
            if (expanded)
                div(class="checkbox-dropdown__ui checkbox-dropdown__ui_open" state= `${expanded}`)
                    +ui-text(type)
            else
                div(class="checkbox-dropdown__ui checkbox-dropdown__ui_closed" state= `${expanded}`)
                    +ui-text(type)
            if (expanded)
                div(class="checkbox-dropdown__expand" state= `${expanded}`)
                    form.form-checkbox
                        +checkbox(arr, checkedArr)
            else 
                div(class="checkbox-dropdown__expand checkbox-dropdown__expand_closed" state= `${expanded}`)
                    form.form-checkbox
                        +checkbox(arr, checkedArr)