mixin reservation()
    - var ruble = "\u20bd"
    .reservation
        .reservation__inner
            .reservation__info-container
                +suite(24 , "888", "true", "9 990")
            .reservation__datedd-container
                +date-dropdown("small", ["ui","прибытие"], ["ui","выезд"], "19.08.2019", "23.08.2019", "false")
            .reservation__dropdown-container
                +dropdown(null, ["ui","гости"], "3 гостя", ["Взрослые", "Дети", "Младенцы"], "big", "false", "false")
            .reservation__details-container
                .reservation__pricing-container
                    p.reservation__pricing-text 9 990₽ х 4 суток
                    p.reservation__pricing 39 960₽
                .reservation__pricing-container
                    p(class="reservation__pricing-text reservation__pricing-text_after") Сбор за услуги: скидка 2 179₽
                    p.reservation__pricing  0₽
                .reservation__pricing-container
                    p(class="reservation__pricing-text reservation__pricing-text_after") Сбор за дополнительные услуги
                    p.reservation__pricing 300₽
            .reservation__total-container
                .reservation__price-container
                    p.reservation__total-text Итого
                .reservation__price-container
                    .reservation__total-border
                .reservation__price-container
                    p.reservation__total-price 38 081₽
            .reservation__button-container 
                +buttons("default","big", "забронировать")