extends ../../layouts/ui-kit-layout.pug
include ../../components/header-logged-out/header-logged-out.pug
include ../../components/header-logged-in/header-logged-in.pug
block scripts 
    link(href=require('./headers-and-footers.scss') rel='stylesheet')
block content
    .header-container
        +header-logged-out
    .header-container
        +header-logged-in