mixin masked-text-field(type, arr, text)
    if (type == "medium")
        .masked-text_m
            +ui-text(arr)  
            form.masked-text__form_m
                p(class="masked-text__input_m") #{text} 
    if (type == "small")
        .masked-text_s
            +ui-text(arr)
            form.masked-text__form_s
                div(class="masked-text__input_s") #{text} 
                p.masked-text__expand 
