@import '../../scss/mixins/_input.scss';
@import '../../scss/mixins/_form.scss';
.masked-text{
    &_b{
        @include form($form-b);
        margin: 0px;
    }
    &_m{
        @include form($form-m);
        margin: 0px;
    }
    &_s{
        @include form($form-s);
        margin: 0px;
    }

    &__ui{
        margin-bottom: 5px;
    }

    &__form{
        &_s{
            @include form($form-s, $dark-shade-50);
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0px;
        }
        &_m{
            @include form($form-m, $dark-shade-50);
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0px;
        }
        &_b{
            @include form($form-b, $dark-shade-50);
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0px;
        }
    }

    &__input_m{
        @include input($form-m, $dark-shade-50);
        display: flex;
        align-items: center;
        height: 41px
    }
    &__input_b{
        @include input($form-b, $dark-shade-50);
        display: flex;
        align-items: center;;
    }

    &__input_s{
        @include input($form-s, $dark-shade-50);
        display: flex;
        align-items: center;
          
    }
    &__expand::after{
        display: flex;
        align-items: center;
        font-family: 'Material Icons';
        content: "expand_more";
        font-size: 24px;
        cursor: pointer;
        margin-right: 12px; 
    }
}