mixin masked-text-field(type, arr, text)
    if (type == "big")
        .masked-text_b
            +ui-text(arr)  
            form.masked-text__form_b
                p(class="masked-text__input_m") #{text} 
 
