.range{
    @include form($form-m);
    &__ui{

    }

    &__container{

    }

    &__slider-container{

    }

    &__slider{
        position: relative;
        display: flex;
        width: $form-m;
        height: 5px;
        border: 1px solid $dark-shade-50;
        border-radius: 45px;
    }

    &__slider-dot{
        display: block;
        position: absolute;
        width: 12px;
        top: -5px;
        height: 12px;
        background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
        border: 2px solid #FFFFFF;
        border-radius: 10px;
    
        &_first{
            left: 0px;
        }

        &_second{
            left: 200px;
        }
    }
    

    &__text-container{

    }

    &__text{

    }
}