.room-finder{
    width: 320px;
    &__ui-container{
        height: 60px;
        
    }

    &__ui-text{
        /*font-size: 24px;
        font-weight: 700;*/
    }

    &__date-container {
        
    }

    &__dropdown-container{
        
    }

    &__button{
        
    }
}
