include ../../components/date-dropdown/date-dropdown.pug
include ../../components/dropdown/dropdown.pug
include ../../components/buttons/buttons.pug
mixin room-finder(arr)
    - subArrDate = arr[1]
    - subArr = arr[2]
    - subArrButtons = arr[3]
    - let subArr1 = subArr[0]
    - let subArr2 = subArr[1]
    - let subArr3 = subArr[2]
    - let subArr4 = subArr[3]
    - let subArr5 = subArr[4]
    - let subArrDate1 = subArrDate[0]
    - let subArrDate2 = subArrDate[1]
    - let subArrDate3 = subArrDate[2]
    - let subArrDate4 = subArrDate[3]
    - let subArrDate5 = subArrDate[4]
    - let buttonsParam1 = subArrButtons[0]
    - let buttonsParam2 = subArrButtons[1]
    - let buttonsParam3 = subArrButtons[2]
    .room-finder
        .room-finder__ui-container
            h1.room-finder__ui-text Найдём номера под ваши пожелания
        .room-finder__date-container 
            +date-dropdown(subArrDate1,subArrDate2,subArrDate3,subArrDate4,subArrDate5)
            div(class="test2", data = `${arr[1]}`)
        .room-finder__dropdown-container
            +dropdown(subArr1, subArr2, subArr3, subArr4, subArr5)
        .room-finder__button 
            +buttons(buttonsParam1,buttonsParam2,buttonsParam3)
            div(class="test4", data = `${arr[3]}`)