mixin filter-date-dropdown(uiText)
    .filter-date 
        .filter-date__ui-container 
            +ui-text(uiText)
        .filter-date__container 
                p(class="filter-date__text" defaultValue="Email") 19 авг - 23 авг