mixin checkbox(textArr)
    - for (let i=0; i < textArr.length; i++)
        .checkbox__container
            input(class="checkbox__checkbox", type="checkbox")
            label(class="checkbox__text") #{textArr[i]}
