mixin checkbox(size, type, arr)
    .checkbox
        .checkbox__container 
            +ui-text(type)
            .checkbox__expand
        .checkbox__dropdown
            form.form-checkbox
                each val in arr
                    .form-checkbox__container
                        input(class="form-checkbox__checkbox", type="checkbox")
                        label(class="form-checkbox__text") #{val}

            