@import '../../scss/mixins/_input.scss';
@import '../../scss/mixins/_form.scss';

.checkbox{
    &__wrapper{
        display: contents;
    }
    &__container{
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        margin-bottom: 11px;
        color: $dark-shade-75;
        &:hover{
            color: $dark-shade-100;
        }
    }

    &__checkbox{
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        height: 18px;
        width: 18px;
        margin-right: 10px;
        border:1px solid $dark-shade-75;
        border-radius: 4px;
        flex-shrink: 0;
        cursor: pointer;
        &:checked{
            border-width: 1px;
            border:1px solid $purple;
        }

        &:checked::before{
            display: block;
            position: absolute;
            content: "";
            height: 8px;
            width: 5px;
            /* background-color: #bc9cff; */
            border-image: linear-gradient(180deg, #bc9cff, #8ba4f9);
            border-width: 0 2px 2px 0;
            border-image-slice: 1;
            border-style: solid;
            transform: rotate(45deg);
            margin-top: 3px;
            margin-left: 6px;
            cursor: pointer;
        }
        &:hover{
            box-shadow: 2px 2px 2px 0px $purple;
        }
    }

    &__text-container{
        display: flex;
        flex-direction: column;

    }

    &__text{
        font-family: 'Montserrat';
        font-size: 14px;
        max-width: 200px;

    }

    &__heading{
        font-family: 'Montserrat';
        font-size: 14px;
        font-weight: 700;
        color: $dark-shade-100;
    }
}







