.bullet-list{
    @include form(260px);
    &__ui-container{
        margin-bottom: 14px;
    }

    &__ui{
        display: block;
        
    }

    &__container{

    }

    &__list{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    &__item{
        display: flex;
        font-family: "Montserrat";
        font-size: 14px;
        margin-bottom: 9px;
        line-height: 1.7em;
        &::before{
            content: "";
            display: block;
            margin-right: 10px;
            width: 10px;
            height: 10px;
            border-radius: 45px;
            background-color: rgba(31, 32, 65, 0.1450980392);
            margin-top: 5px;
            flex-shrink: 0;
        }

    }
}