.bullet-list{
    @include form(260px);
    &__ui-container{
        margin-bottom: 13px;
    }

    &__ui{
        display: block;
        
    }

    &__container{

    }

    &__list{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    &__item{
        display: flex;
        font-family: "Montserrat";
        font-size: 14px;
        margin-bottom: 11px;
        line-height: 1.7em;
        &::before{
            content: "";
            display: block;
            margin-right: 10px;
            width: 11px;
            height: 10px;
            border-radius: 45px;
            background-color: $dark-shade-25;
            margin-top: 6px;
            flex-shrink: 0;
        }

    }
}