*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none;
}

*, *::before, *::after{
    box-sizing: inherit;
}
form{
    border: 0px;
}

input{
    border: 0px;
}

