h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.26px;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    font-weight: 700;
    line-height: 23.16px;
}

h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 14.63px;
}

a{
    font-family: 'Montserrat', sans-serif;
    color: $dark-shade-50;
    font-family: 'Montserrat';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

body p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

li{
    list-style-type: none;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}
ul{
    list-style-type: none;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

button{
    border: 0px;
    background-color: transparent;
}