include ../logo/logo.pug
include ../navbar/navbar.pug
include ../unauthed/unauthed.pug
mixin header-logged-out
    .header-logged-out
        .header-logged-out__container
            +logo
            +navbar
            +unauthed
                
                     
                            
                    
                    
                        
