
mixin socials 
    .socials
        img(class="socials__svg" src=require("x.svg") alt="image")
        img(class="socials__svg socials__svg_second" src=require("facebook.svg") alt="image")
        img(class="socials__svg socials__svg_third" src=require("instagram.svg") alt="image")