extends ../../layouts/ui-kit-layout.pug
block scripts 
    link(href=require('./starting-page.scss') rel='stylesheet')  
block header
    .content 
        a(class="content__link" href="./uikit.html") UI-Kit
        a(class="content__link" href="./test.html") Toxin