.user{
    margin-top: 21px;
    margin-bottom: 24px;
    margin-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    flex-shrink: 0;
    border-left: 1px solid $dark-shade-25;
    }