.ui-container{
    width: 321px;
    &_small{
        margin-bottom: 15px;
    }

    &_medium{
        margin-bottom: 40px;
    }

    &_big{
        margin-bottom: 100px;
    }

    &_rate{
        margin-bottom: 195px;
    }

    &_page{
        margin-bottom: 233px;
        margin-left: 1px;
    }

    &_dd{
        margin-bottom: 20px;
    }

    &_masked{
        margin-bottom: 21px;
    }

    &_datedd{
        margin-bottom: 42px;
    }

    &_filter{
        margin-bottom: 42px;
    }

    &_subs{
        margin-bottom: 96px;
    }

    &_ddclosed{
        margin-bottom: 14px;
    }

    &_ddexp{
        margin-bottom: 56px;
    }

    &_ddcheck-closed{
        margin-bottom: 40px;
    }

    &_checkbox-buttons{
        margin-top: 5px;
        margin-bottom: 43px;
    }

    &_radio{
        margin-bottom: 44px;
    }

    &_toggle{
        margin-bottom: 44px;
    }

    &_like{
        margin-bottom: 42px;
    }

    &_range{
        margin-bottom: 45px;
    }

    &_buttons{
        margin-bottom: 39px;
    }

    &_blank{
        margin-bottom: 100px;
    }

    
}