doctype html 
html 
    head
        block default-scripts
            link(href=require('../index.scss') rel='stylesheet')
        block scripts
    body 
        block header            
        block content
        block footer
            
