mixin footer-list(arr, pos)
    ul.footer__list
        each val in arr
            li.footer__list-item
                if (val == arr[0])
                    h3(class="footer__list-link")= val
                else
                    a.footer__list-link= val