@import '../../scss/mixins/_input.scss';
.text-field{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 320px;

    &__input{
        @include input;
    }

    &__input:hover{
        border: 1px solid $dark-shade-100;
        transition: 0.2s ease;
        
    }

    &__input:focus{
        border: 1px solid $dark-shade-100;
        transition: 0.2s ease;
    }

}

.ui{
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}

.form-paragraph{
    font-size: 12px;
}