mixin text-field(arrText, defaultValue = "")
    .text-field
        +ui-text(arrText)
        form(class="text-field__form" action="#" method="get")
            input(class="text-field__input" type="text" placeholder = defaultValue)