@import '../../scss/mixins/_input.scss';
@import '../../scss/mixins/_form.scss';
.text-field{
    width: 319px;
    &__form{
        @include form(319px, $dark-shade-50);
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0px;
        
    }

    &__form:hover{
        border: 1px solid $dark-shade-50;
        transition: 0.2s ease;
    }

    &__input{
        @include input(319px, $dark-shade-50);
    }

    &__input:focus{
        border: 1px solid $dark-shade-50;
        transition: 0.2s ease;
    }

    &__ui-container{
        letter-spacing: -0.3px;
    }


}
